
.section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
h1 {
    margin-bottom: 10px;
}
.section__text{
    padding-top: 70px;
}
.section__button > button{
 height: 40px;
 width: 200px;
 border-radius: 5px;
 border-width: 0;
 margin-right: 20px;
 font-size: 12px;
 cursor: pointer;
}
.section__left {
    background-color: #111;
    color: #fff;
}
.section__button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.section__image {
    height: 40px;
    margin-top: 20px;
    animation: animateDown infinite 1.5s;
}

@media(max-width: 768px) {
   .section__button {
    flex-direction: column;
    align-items: center;
   }
   .section__button > button {
    margin-top: 20px;
    width: 400px;

   }
}